.BookDetParent {
    background-color: #fcf7f8;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 10px;
    padding-bottom: 300px;
  }
  
  .BookDet {
    float: right;
    padding-left: 10px;
  }
  
  .BookDetPhoto {
    float: right;
    padding-left: 10px;
    max-width: 400px;
    height: auto;
    outline: 5px;
    outline-color: #4E8098;
  }

  .BookRating {
    font-size: 30px;
  }
  .AvgUserRating {
    display: inline-block;
    font-weight: bold;
  }

  .AvgProfRating{
    display: inline-block;
    font-weight: bold;
    padding-left: 40px;
  }
  .GoldStar {
    display: inline-block;
    color: transparent;  
    text-shadow: 0 0 0 #D1B000;
  }

  .RateBook {
    font-weight: bold;
    display: inline-block;
    padding-right: 10px;
  }

  .YourRating{
    font-weight: bold;
  }
  