.heading {
  text-transform: uppercase;
  font-size: 40px;
  text-align: center;
  margin: 40px 0;
  color: aliceblue;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: #40829e;
  outline-style: solid;
  outline-width: 3px;
  outline-color: black;
  border-radius: 40px;
  padding-left: 10px;
  padding-right: 10px;
}
