
.homeLink{
    text-decoration-line: none;
}
.findBooksLink{
    text-decoration-line: none;
}



.heading {
    text-transform: uppercase;
    font-size: 40px;
    text-align: center;
    margin: 40px 0;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #000000;
    outline-style: solid;
    outline-width: 3px;
    outline-color: white;
    border-radius: 40px;
    padding-left: 10px;
    padding-right: 10px;
}

.background {
    padding-top: 20px;
    background-color: #fcf7f8;
    height: 100%;
}

.NavigationBar {
    padding-bottom: 80px;
}

